@using Microsoft.AspNetCore.Components;
@model IEnumerable< MagicVilla_Web.Models.DTO.VillaDTO>

<img class="d-block w-100" src="images/home/slide2.jpg" alt="" />

<hr />
<div class="row" style="--bs-gutter-x:0">
    @foreach (var villa in Model)
    {
        <div class="p-4 col-md-12 col-lg-6">
            <div class="row" style="border-radius:20px; border: 1px solid #ffffff">
                <div class="col-6">
                    <p class="card-title text-warning" style="font-size:xx-large">@villa.Name</p>                  
                </div>
                <div class="col-6">
                    <p class="card-title text-warning" style="font-size:x-large">Occupancy: @villa.Occupancy</p>
                    <p class="card-title text-warning" style="font-size:x-large">Place: @villa.Place</p>
                </div>
                <div class="col-12">
                    <a href="" class="btn btn-success form-control btn-block">Book</a>
                </div>
            </div>
        </div>
    }
</div>
